.currentButton {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.currentButton:hover {
  background-color: #e0e0e0;
}
.currentButton:disabled {
  background: #a70024;
  color: #ffffff;
}

.currentButtonActive {
  width: 50px;
  height: 50px;
  background: #003aa7;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button {
  width: 100px;
  height: 50px;
  background: #003aa7;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  color: #ffffff;
}

.addButton {
  display: block;
  width: 100%;
  height: 40px;
  background: white;
  border: 2px solid rgb(0, 209, 0);
  border-radius: 10px;
  font-size: 20px;
  color: rgb(0, 150, 0);
  margin: 20px 0;
  cursor: pointer;
}

.deleteButton {
  color: red;
  font-size: 1rem;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid red;

  cursor: pointer;
}

.deleteVerifyYes {
  width: 80px;
  height: 40px;
  margin-left: 10px;
}

.deleteVerifyNo {
  width: 80px;
  height: 40px;
  margin-left: 10px;
}

.deleteVerifyYes:hover {
  background: #ff0000;
}
.deleteVerifyNo:hover {
  background: #0a921c;
}

.functionButton {
  width: max-content;
  padding: 10px 12px;
  border: 1px solid #001d8648;
  border-radius: 10px;
  background: #ffffff;
  font-size: 1em;
  cursor: pointer;
}

.functionButton:hover {
  background: #860900;
  color: #ffffff;
  transition: ease-in-out 0.2s;
}

.functionButton:disabled {
  background: #ffffff;
  color: lightgray;
  cursor: not-allowed;
}

.tableFunctionButtonDelete {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  border: 1px solid #001d8648;
  border-radius: 10px;

  cursor: pointer;
  overflow: hidden;
}

.tableFunctionButtonDelete:hover {
  background: #ff0000;
  color: #ffffff;
}

.image {
  width: 22px;
  height: 22px;
  border-radius: 0;
}

.displayNone {
  display: none;
}
